@model QLW.Models.NhanVienModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhanVienModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.luongCoBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.luongCoBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maChiNhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maChiNhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.daXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.daXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maNV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
