@model IEnumerable<QLW.Models.NhanVienModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.luongCoBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maChiNhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luongCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maChiNhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maNV">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maNV">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maNV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
