@model IEnumerable<QLW.Models.ChiNhanhModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenChiNhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayThanhLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.truongCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenChiNhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayThanhLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truongCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maChiNhanh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maChiNhanh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maChiNhanh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
