@model QLW.Models.HoaDonModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDonModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maNVVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maNVVC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.khauTru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.khauTru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongSL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongSL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayLapHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayLapHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngayHoanTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngayHoanTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.daXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.daXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.soHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
