@model IEnumerable<QLW.Models.HoaDonModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNVVC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.khauTru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tongGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tongSL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayLapHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngayHoanTat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNVVC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khauTru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongSL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayLapHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayHoanTat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.soHD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.soHD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.soHD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
