@model QLW.Models.SanPhamModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPhamModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hangSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hangSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dungLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dungLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAMERA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAMERA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BLUETOOTH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BLUETOOTH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.giaKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.giaKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anh1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anh1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anh2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anh2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anh3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anh3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anh4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anh4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.namSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.namSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maChiNhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maChiNhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ghiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.daXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.daXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maSP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
