@model QLW.Models.UuserModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UuserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maNVVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maNVVC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uuserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uuserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ppassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ppassWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uUPDATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uUPDATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cCREATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cCREATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.daXoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.daXoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maUser">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
