@model IEnumerable<QLW.Models.UuserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maNVVC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uuserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ppassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uUPDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cCREATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.daXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maNVVC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uuserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ppassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uUPDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cCREATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.daXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maUser">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maUser">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
